html{
    background-image: linear-gradient(45deg, rgb(212, 0, 255), rgba(68, 0, 226, 0.986));
    margin: 0px;
    padding: 0;
    font-family: 'Poppins', sans-serif;

    /* rgb(255, 238, 0), rgb(255, 0, 179)); */
    /* linear-gradient(230deg, rgba(255, 115, 0, 0.986), rgb(55, 0, 143)); */
}

/* topo */
.casa{
    color: white;
    border: solid;
    border-radius: 100px;
}

.icone-home{
    width: min(10vw);
}

.casa:hover{
    background-color: rgba(255, 0, 204, 0.357);
}

header{
    background: rgb(9, 0, 19);
    padding: 2rem 0rem 4rem;
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
}

#perfil{
    min-width: none;
    max-width: 10rem;
    border-radius: 100px;
    border: solid;
    border-width: 4px;
}

/* corpo */
body{
    color: rgba(0, 0, 0, 0.918);
    margin: auto;
}

/* coteudo1 ==============================*/
.container1{
    background-color: white;
    background-image:linear-gradient(90deg white, rgb(188, 219, 255), 0.959);
    justify-content: center;
    text-align: start;
    width: min(40vw, 800px);
    margin: auto;
    padding: 50px;
    box-shadow: 0 2px 10px;
    border-radius: 0.6rem;
    margin-top: -4rem;
    margin-block-end: 4rem;
}


.titulo1{
    min-width: 4px
}

/* conteudo2 ===================== */


.titulo3{
    min-width: 4px;
}

/* conteudo3 ==== */
.container2{
    background-color: white;
    background-image:linear-gradient(90deg white, rgb(188, 219, 255), 0.959);
    justify-content: center;
    text-align: start;
    width: min(40vw, 800px);
    margin: auto;
    padding: 50px;
    box-shadow: 0 2px 10px;
    border-radius: 0.6rem;
    margin-top: 4rem;
    margin-block-end: 4rem;
}


p{
    font-size: 14px;
    font-family: 'Poppins', 'sans-serif';
    color: rgb(58, 58, 58);
}


/* sup */
footer{
    background-color: rgb(9, 0, 19);
    padding: 0.5rem 0rem 2rem;
    color: white;
    margin: auto;
    text-align: center;
    font-size: 12px;
    font-weight: 200;
}

h6{
    font-size: 12px;
    color: white;
}

a{
    text-decoration: none;
}